@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<div class="container">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-md-6">
            <form id="email-form" method="post">
                <h3 class="my-4">@ViewData["Title"]</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-group">
                        <label asp-for="Email" class="form-label">Current Email</label>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                }
                <br/>
                <div class="form-group">
                    <label asp-for="Input.NewEmail" class="form-label">New Email</label>
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <br/>
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-dark">Change Email</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
