@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="container">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-md-6">
            <form id="profile-form" method="post" enctype="multipart/form-data">
                <h3 class="my-4">@ViewData["Title"]</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Username" class="form-control" />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <br/>
                <div class="form-floating">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Input.Image" class="control-label"></label>
                    <input type="file" asp-for="Input.Image" class="form-control" />
                    <span asp-validation-for="Input.Image" class="text-danger"></span>
                </div>
                <br/>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-dark">Save</button>
                <br/>
            </form>
        </div>
        <div class="col-md-6 mt-4 d-flex flex-column justify-content-center align-content-center">
            <h3 class="my-4">Current Image</h3>
            <div class="row justify-content-center align-content-center">
                <img src="@Model.CurrentImage" class="img-fluid rounded-circle"/>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
