@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 mt-5 mb-sm-4">
                <img class="img-fluid rounded-circle my-4" src="~/images/profile-pic.jpeg" alt="Jacob Phillips picture" style="max-height: 400px;" />
        </div>
        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-content-center">
                <div class="m-5">
                <h4>Welcome to my little corner of the internet!</h4>
                <p class="text-" style="color:whitesmoke"> I'm Jacob, and I'm excited to have you on board here at my blog, where we're diving headfirst into the awesome realm of coding, C#/.NET, and the entire iceberg that is full-stack software development. But here's the twist – I'm not just your friendly neighborhood coder, I'm also a U.S. Air Force vet soaking up life in the charming United Kingdom. From serving my country to serving up lines of code, it's been quite the journey. Together, we'll unravel coding mysteries, share a few laughs, and maybe even swap stories about life across the globe. Whether you're a coding newbie or a seasoned pro, let's hang out, learn some cool stuff, and make this coding adventure unforgettable!</p>
                <h6>Thanks for stopping by!</h6>
                </div>
        </div>
    </div>
</div>