.navbar, footer{
    background-color: #212020;
}

.navbar-brand{
    margin-right: 10px;
}

.nav-link {
    color: #e5e5e5;
}

.nav-link:hover {
    color: #fcfcfc;
}

.searchbar {
    background-color: transparent;
}

.searchbtn {
    color: black;
    background-color: #e5e5e5;
}

.searchbtn:hover {
    color: black;
    background-color: #fcfcfc;
}

.searchbtn:active {
    color: grey;
    background-color: #c1c1c1;
}

.note-editable {
    background-color: lightgrey;
}

.btn {
    color: black;
    background-color: #e5e5e5;
}

.btn:hover {
    color: black;
    background-color: #fcfcfc;
}

.card {
    background-color: #212020;
}

.page-item.active .page-link {
    color: black;
    background-color: #fcfcfc;
    border-color: black;
}

.page-item .page-link {
    color: #e5e5e5;
    background-color: #282828;
    border-color: #fcfcfc;
}

.indexheader {
    background-image: url(../images/website-background-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #e5e5e5;
    text-decoration: none;
}

a:hover {
    color: #fcfcfc;
    text-decoration: none;
 }