@using ByteBanter.Enums;
@model ByteBanter.Models.Post

@{
    ViewData["Title"] = "Edit Post";
}

<div class="container">
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-md-8">
            <form asp-action="Edit" enctype="multipart/form-data">
                <h1 class="mt-5">Edit Post</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="BlogId" class="control-label"></label>
                    <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                    <span asp-validation-for="BlogId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Abstract" class="control-label"></label>
                    <textarea asp-for="Abstract" class="form-control"></textarea>
                    <span asp-validation-for="Abstract" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" id="summernote"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ReadyStatus" class="control-label"></label>
                    <select asp-for="ReadyStatus" class="form-control" asp-items="Html.GetEnumSelectList<ReadyStatus>()"></select>
                    <span asp-validation-for="ReadyStatus" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" name="NewImage" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <br />
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
